:root {
  --cell-size: 100px;
}

html, body {
  margin: 0;
  padding: 0;
  background: #909090;
  color: #000000;
  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
}

body {
  margin: 10px;
}

.container {
  max-width: 600px;
  width: 100%;
  min-width: 380px;
  margin: 0 auto;
  padding: 0;
}

.header {
  display: block;
  padding: 0;
}

h1 {
  font-size: min(8vw, 80px);
  font-weight: bold;
  margin: 0;
}

.summary {
  width: 100%;
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  text-align: right;
}

.last-tile-info {
  width: 470px;
  height: 110px;
  margin: 15px auto;
  display: block;
}
@media screen and (max-width: 600px)
{
  .last-tile-info {
    width: 285px;
    height: 66px;
    margin: 15px auto;
  }
}

.last-tile-tag {
  display: inline-block;
  margin-left: 200px;
  margin-top: 40px;
  text-align: right;
  vertical-align: middle;
  font-size: 24px;
  font-weight: bold;
}
@media screen and (max-width: 600px)
{
  .last-tile-tag {
    margin-left: 60px;
    margin-top: 20px;
  }
}

.last-tile {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
  float: right;
  border: 5px solid black;
  justify-content: center;
  align-items: center;
  font-size: 80px;
  font-weight: bold;
  text-align: center;
}
@media screen and (max-width: 600px)
{
  .last-tile {
    width: 60px;
    height: 60px;
    margin-bottom: 7px;
    border-width: 3px;
    font-size: 50px;
  }
}
.last-tile:after {
  content: "";
  display: block;
  clear: both;
}

.grid {
  margin: 0 auto;
}

.grid-cell {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
  margin-right: 10px;
  float: left;
  border: 5px solid black;
  justify-content: center;
  align-items: center;
  font-size: 80px;
  font-weight: bold;
  text-align: center;
}
@media screen and (max-width: 600px)
{
  .grid-cell {
    width: 60px;
    height: 60px;
    margin-bottom: 7px;
    margin-right: 7px;
    border-width: 3px;
    font-size: 50px;
  }
}
.grid-cell:last-child {
  margin-right: 0px;
}

.game-state-message {
  font-size: 24px;
  font-weight: bold;
}

.game-state-info {
  width: 100%;
}

.game-state-message {
  font-size: 24px;
  font-weight: bold;
}

.cat2-0 {
  color: red;
}
.cat2-1 {
  color: yellow;
}
.cat2-2 {
  color: green;
}
.cat2-3 {
  color: blue;
}

.enabled {
  background: #a0a0a0;
  border-color: #c0c0c0 #404040 #404040 #c0c0c0;
  cursor: pointer;
}
.enabled:hover {
  border-color: #606060 #b0b0b0 #b0b0b0 #606060;
}
.enabled:active {
  border-color: #404040 #c0c0c0 #c0c0c0 #404040;
}
.disabled {
  background: #909090;
  border-color: #909090;
  cursor: not-allowed;
}

.p1claimed {
  background: #f0f0f0;
  border-color: #a0a0a0 #ffffff #ffffff #a0a0a0;
}

.p2claimed {
  background: #101010;
  border-color: #000000 #606060 #606060 #000000;
}

#restartButton {
  display: block;
  width: 50%;
  margin: 20px auto;
  background-color: #a0a0a0;
  color: white;
  border-color: #c0c0c0 #404040 #404040 #c0c0c0;
  border-width: 5px;
  font-size: 18px;
  font-weight: bold;
  padding: 5px;
  cursor: pointer;
}
#restartButton:hover {
  border: none; /* removes default shadow from button border */
  border: 5px solid black;
  border-color: #606060 #b0b0b0 #b0b0b0 #606060;
}
#restartButton:active {
  border-color: #404040 #c0c0c0 #c0c0c0 #404040;
}
@media screen and (max-width: 600px)
{
  #restartButton {
    margin: 13px auto;
    border-width: 3px;
  }
}