:root {
  --cell-size: 100px;
}

html, body {
  margin: 0;
  padding: 0;
  background: #e0e0e0;
  color: #000000;
  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
}

body {
  margin: 40px;
}

.container {
  width: 600px;
  margin: 0 auto;
  padding: 0;
}

.header {
  display: block;
  padding: 0;
}

h1 {
  font-size: 80px;
  font-weight: bold;
  margin: 0;
}

.summary {
  width: 600px;
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  text-align: right;
}

.last-tile-info {
  width: 470px;
  height: 110px;
  margin: 15px auto;
  display: block;
}

.last-tile-tag {
  display: inline-block;
  margin-left: 200px;
  margin-top: 40px;
  text-align: right;
  vertical-align: middle;
  font-size: 24px;
  font-weight: bold;
}

.last-tile {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
  float: right;
  border: 5px solid black;
  justify-content: center;
  align-items: center;
  font-size: 80px;
  font-weight: bold;
  text-align: center;
}
.last-tile:after {
  content: "";
  display: block;
  clear: both;
}

.grid {
  width: 470px;
  margin: 0 auto;
  display: block;
}

.grid-row:after {
  content: "";
  display: block;
  clear: both;
}

.grid-cell {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
  margin-right: 10px;
  float: left;
  border: 5px solid black;
  justify-content: center;
  align-items: center;
  font-size: 80px;
  font-weight: bold;
  text-align: center;
}
.grid-cell:last-child {
  margin-right: 0px;
}

.game-state-message {
  font-size: 24px;
  font-weight: bold;
}

.game-state-info {
  width: 100%;
}

.game-state-message {
  font-size: 24px;
  font-weight: bold;
}

.cat2-0 {
  color: red;
}
.cat2-1 {
  color: yellow;
}
.cat2-2 {
  color: green;
}
.cat2-3 {
  color: blue;
}

.enabled {
  background: #808080;
  border-color: #ffffff #404040 #404040 #ffffff;
  cursor: pointer;
}
.disabled {
  background: #e0e0e0;
  border-color: #e0e0e0;
  cursor: not-allowed;
}

.p1claimed {
  background: white;
  border-color: white;
}

.p2claimed {
  background: black;
  border-color: black;
}

#restartButton {
  display: block;
  width: 300px;
  margin: 20px auto;
  background-color: #808080;
  color: white;
  border-color: #ffffff #404040 #404040 #ffffff;
  border-width: 5px;
  font-size: 18px;
  font-weight: bold;
  padding: 5px;
  cursor: pointer;
}